<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Arkivdium</title>
</head>
<div class="columns">
    <div class="column is-4 is-offset-4">
        <h1 class="title">Återställ lösenord</h1>
        <h2 class="subtitle">Ange din email så skickar vi en återställningslänk</h2>
        <form action="/account/forgot-password" method="post">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="email" required name="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <br>
            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-link">
                        <span class="icon is-small">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>Återställ lösenord</span>
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>

</html>