<div class="columns">
    <div class="column is-4 is-offset-4">
        <h1 class="title">Registrera användare</h1>
        <h2 class="subtitle">Ange din e-post och lösenord</h2>
        <form action="/account/register" method="post">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="email" name="email" placeholder="E-post" value="{{email}}" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Lösenord" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Ange ditt lösenord igen" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <p class="help">Lösenordet ska bestå av minst 6 tecken samt innehålla både versaler, gemener och siffror.</p>
            </div>
            <span id="confirmMessage" class="confirmMessage"></span>
            <br>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">
                        <span class="icon is-small">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>Registrera</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>