<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>

            <div class="column">
                <article class="message is-success">
                    <div class="message-header">
                        <p>
                            <i class="fas fa-check"></i>&nbsp;Tack!
                        </p>
                    </div>
                    <div class="message-body"> När arkiveringen är klar så notifierar vi dig via email.</div>
                </article>

                <a href="/" class="button is-link">
                    <span class="icon is-small">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Tillbaka</span>
                </a>
            </div>

            <div class="column"></div>
        </div>
    </div>
</section>