<div class="columns">
    <div class="column is-4 is-offset-4">
        <h1 class="title is-3 has-text-weight-light">Uppdatera lösenord</h1>
        <h2 class="subtitle has-text-weight-light">Skapa nytt lösenord</h2>
        <form action="/account/reset-password/{{resetUrl.body}}" method="post">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="resetPassword" placeholder="Ange ditt nya lösenord" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="confirmPassword" placeholder="Ange ditt nya lösenord igen" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <p class="help">Lösenordet ska bestå av minst 6 tecken samt innehålla både versaler, gemener och siffror.</p>
            </div>
            <span id="confirmMessage" class="confirmMessage"></span>
            <br>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">
                        <span class="icon is-small">
                            <i class="fas fa-wrench"></i>
                        </span>
                        <span>Uppdatera</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>