<div class="columns is-centered">
    <div class="column is-4">
        <h3 class="subtitle is-3">Uppdatera lösenord</h3>
        <form method="post">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="oldPassword" placeholder="Ange ditt gamla lösenord" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="newPassword" placeholder="Ange ett nytt lösenord" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="confirmNewPassword" placeholder="Ange det nya lösenord igen" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <p class="help">Lösenordet ska bestå av minst 6 tecken samt innehålla både versaler, gemener och siffror.</p>
            </div>
            <span id="confirmMessage" class="confirmMessage"></span>
            <br>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-info">
                        <span class="icon is-small">
                            <i class="fas fa-wrench"></i>
                        </span>
                        <span>Uppdatera</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>