<div class="columns is-full-mobile is-centered">
    <div class="column is-half">
        <div class="tabs is-fullwidth">
            <ul>
                <div id="showSettings">
                    <li class="is-active is-half-mobile" id="settings-li">
                        <a>Inställningar</a>
                    </li>
                </div>
                <div id="showAdvancedSettings">
                    <li class="is-half-mobile" id="advancedSettings-li">
                        <a>Avancerade inställningar</a>
                    </li>
                </div>
            </ul>
        </div>
        {{> settings }} {{> advancedSettings }}
    </div>
</div>