<div class="columns is-full-mobile is-centered">
    <div class="column is-half">
        <div class="tabs is-fullwidth">
            <ul>
                <li class="is-active is-half-mobile" id="settings-tab">
                    <a>Inställningar</a>
                </li>
                <li class="is-half-mobile" id="advancedSettings-tab">
                    <a>Avancerade inställningar</a>
                </li>
            </ul>
        </div>
        {{> settings }} {{> advancedSettings }}
    </div>
</div>