<section class="hero is-dark is-bold has-text-centered">
    <div class="hero-body">
        <div class="container">
            <a class="title is-2 is-spaced" href="/">Arkivdium
                <i class="far fa-file-archive"></i>
            <h2 class="subtitle is-4 has-text-weight-light">En arkiveringstjänst för webbplatser</h2>
            </a>
        </div>
    </div>
</section>