<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div>
            <span class="icon">
                <i class="fas fa-lock icon is-large startPageIcon" style="padding-right:20px;"></i>
            </span>
            <span class="title">Säkert</span>
            <br>
            <span>Säkra kopior av din webbplats</span>
        </div>
        <br>
        <br>
        <div>
            <span class="icon">
                <i class="fas fa-download icon is-large startPageIcon" style="padding-right:20px;"></i>
            </span>

            <span class="title">Hållbart</span>
            <br>
            <span>Följer alla krav från Riksarkivet och ISO-standarder för arkivering</span>
        </div>
        <br>
        <br>
        <div>
            <span class="icon">
                <i class="far fa-calendar-alt icon is-large startPageIcon" style="padding-right:20px;"> </i>
            </span>
            <span class="title">Automatiskt</span>
            <br>
            <span>Schemalägg dina arkiveringar</span>
        </div>
    </div>
    <div class="column is-1"></div>
    <div class="column">
        <h1 class="title">Arkivdium</h1>
        <h4>
            Arkivdium är en webbtjänst som enkelt arkiverar din webbsida. Schemalägger du din arkivering sköter Arkivdium allting åt
            dig, du kan givetvis välja att sköta det manuellt om du skulle vilja.
        </h4>
        <br>
        <div class="navbar-item">
            <a class="startPageIcon" href="/about">
                <span class="icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span>Läs mer</span>
            </a>
        </div>
    </div>
    <div class="column is-1"></div>