<div class="field">
    <h3 class="subtitle is-3">Dina sparade arkiveringar</h3>
    <div class="table-container">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Webbplats</th>
                    <th>Schemalagd</th>
                    <th>Senast körd</th>
                    <th>Senast uppdaterad</th>
                    <th>Skapad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-row-hover">
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje dag</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje vecka</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje månad</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje dag</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje vecka</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje månad</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje dag</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje vecka</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
                <tr>
                    <td>http://vecka.nu/</td>
                    <td>Varje månad</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>16-Apr-18 16:51:30</td>
                    <td>[edit] [x]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>