<section id="navbar">
    <nav class="navbar">
        <div class="navbar-brand"></div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link {{#if homePageActive}}activePage{{/if}}" href="/">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>Hem</span>
                            </a>
                        </p>
                    </div>
                </div>
                {{!-- {{#if user}}
                <div class="navbar-item">
                    <p class="control">
                        <span>Inloggad som, {{user.email}}</span>
                    </p>
                </div>
                {{/if}} --}}
            </div>
            {{#if user}}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link {{#if schedulePageActive}}activePage{{/if}}" href="/schedules">
                                <span class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                                <span>Schemaläggningar</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link {{#if profilePageActive}}activePage{{/if}}" href="/profile/edit">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>Min profil</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link" href="/account/logout">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Logga ut</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link {{#if registerPageActive}}activePage{{/if}}" href="/account/register">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>Registrera</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link {{#if loginPageActive}}activePage{{/if}}" href="/account/login">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Logga in</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </nav>
</section>