<section>
    <nav class="navbar is-transparent">
        <div class="navbar-brand"></div>
        <div class="navbar-menu">

            {{#if user}}
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <p class='navbar-item'>Välkommen, {{user.email}}</p>
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-info" href="/account/logout">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Logga ut</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-link" href="/">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>Hem</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-info" href="/account/register">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>Registrera</span>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-info" href="/account/login">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Logga in</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}

    </nav>
</section>