<div class="column">
    {{!-- Modals --}}
    <div id="previewArchive" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <iframe id="previewContainer" width="100%" height="600px">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </section>
        </div>
    </div>

    <div id="confirmDel" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="has-text-weight-bold is-size-5">Vill du verkligen radera detta arkiv?</p>
                <br>
                <button class="button is-danger hideModal">
                    <span class="icon">
                        <i class="fas fa-times"></i>
                    </span>
                    <span>Radera</span>
                </button>
                <button class="button hideModal">Avbryt</button>
            </div>
        </div>
    </div>


    <div class="field">
        <h3 class="subtitle is-3">Senaste 10 arkiveringar</h3>
        <p id="recent-list" class="control"></p>
        <br>
        <nav class="pagination" role="navigation" aria-label="pagination">
            <button id="list-previous" class="button pagination-previous">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Föregående</span>
            </button>
            <button id="list-next" class="button pagination-next">
                <span>Nästa</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
            <!-- <ul class="pagination-list">
                <li>
                    <a class="pagination-link" aria-label="Goto page 1">1</a>
                </li>
                <li>
                    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
            </ul> -->
        </nav>
    </div>
</div>