<input type="hidden" name="typeOfSetting" value="1">
<div class="field">
    <label class="label">Kommando
        <span class="tooltip is-tooltip-right" data-tooltip="Ange webbadressen först, följt av inställningarna">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <input class="input" id="advancedSetting" type="text" required name="advancedSetting" placeholder="Kommando" value="{{ schedule.advancedSetting }}">
        <span class="icon is-small is-left">
            <i class="fas fa-code"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Schemaläggning
        <span class="tooltip is-tooltip-right" data-tooltip="Arkiveringen sker automatiskt vid valda tillfällen">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <div class="select is-fullwidth">
            <select name="typeOfSchedule">
                <option {{#eq schedule.typeOfSchedule 0}} selected="selected" {{/eq}} value="0">Ingen schemaläggning</option>
                <option {{#eq schedule.typeOfSchedule 1}} selected="selected" {{/eq}} value="1">Varje dag</option>
                <option {{#eq schedule.typeOfSchedule 2}} selected="selected" {{/eq}} value="2">Varje vecka</option>
                <option {{#eq schedule.typeOfSchedule 3}} selected="selected" {{/eq}} value="3">Varje månad</option>
            </select>
            <div class="icon is-small is-left">
                <i class="far fa-calendar-alt"></i>
            </div>
        </div>
    </div>
</div>