<input type="hidden" name="typeOfSetting" value="0">
<div class="field">
    <label class="label">Huvuddomän
        <span class="tooltip is-tooltip-right is-tooltip-multiline" data-tooltip="Beroende på adresstruktur kan det uppstå oväntade effekter på förhandsgranskningen.">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <input class="input normal" id="url" type="url" required name="url" placeholder="Ange din webbadress" value="{{ schedule.url }}">
        <span class="icon is-small is-left">
            <i class="fas fa-link"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Subdomäner
        <span class="tooltip is-tooltip-right" data-tooltip="Subdomäner att arkivera.">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <input class="input normal" id="includeDomains" type="url" name="includeDomains" placeholder="https://www1.exempel.se, https://www2.exempel.se"
            value="{{ schedule.includeDomains }}">
        <span class="icon is-small is-left">
            <i class="fas fa-link"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Sidor att exkludera
        <span class="tooltip is-tooltip-right" data-tooltip="Sidor som inte ska arkiveras.">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <input class="input normal" id="excludePaths" type="text" name="excludePaths" placeholder="/sida1, /sida2" value="{{ schedule.excludePaths }}">
        <span class="icon is-small is-left">
            <i class="fas fa-unlink"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Schemaläggning
        <span class="tooltip is-tooltip-right" data-tooltip="Arkiveringen sker automatiskt vid valda tillfällen.">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <div class="select is-fullwidth">
            <select name="typeOfSchedule">
                <option {{#eq schedule.typeOfSchedule 0}} selected="selected" {{/eq}} value="0">Ingen schemaläggning</option>
                <option {{#eq schedule.typeOfSchedule 1}} selected="selected" {{/eq}} value="1">Varje dag</option>
                <option {{#eq schedule.typeOfSchedule 2}} selected="selected" {{/eq}} value="2">Varje vecka</option>
                <option {{#eq schedule.typeOfSchedule 3}} selected="selected" {{/eq}} value="3">Varje månad</option>
            </select>
            <div class="icon is-small is-left">
                <i class="far fa-calendar-alt"></i>
            </div>
        </div>
    </div>
</div>
{{!-- Do not show this text if we're in a schedule --}}
{{#unless schedule }}
    <div class="extra-settings has-text-centered">
        <label for="_1">Extra inställningar
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </label>
    </div>
    {{!-- But make the checkbox checked if we're in a schedule, to show the extra settings --}}
    <input id="_1" type="checkbox" {{#if schedule }} checked {{/if}}>
{{/unless}}
<div class="field">
    <label class="label">Följ webbplatsens regler
        <span class="tooltip is-tooltip-right" data-tooltip="Följ robots.txt och meta-taggar.">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control">
        <label class="radio">
            <input type="radio" id="metaTags0" name="robots" value="0" {{#eq schedule.robots 0}} checked {{/eq}} {{#unless schedule }}
                checked {{/unless}}> Ja
        </label>
        <label class="radio">
            <input type="radio" id="metaTags1" name="robots" value="1" {{#eq schedule.robots 1}} checked {{/eq}}> Ja, men filter överskrider
        </label>
        <label class="radio">
            <input type="radio" id="metaTags2" name="robots" value="2" {{#eq schedule.robots 2}} checked {{/eq}}> Nej
        </label>
    </div>
</div>
<div class="field">
    <label class="label">Mappstruktur
        <span class="tooltip is-tooltip-right is-tooltip-multiline" data-tooltip="Välj hur filerna skall sorteras i den färdiga arkiveringen">
            <i class="far fa-question-circle"></i>
        </span>
    </label>
    <div class="control has-icons-left">
        <div class="select is-fullwidth">
            <select name="structure" id="structure">
                <option {{#eq schedule.structure 0}} selected="selected" {{/eq}} id="s0" value="0">Spegla mappstrukturen från källan (standard)</option>
                <option {{#eq schedule.structure 1}} selected="selected" {{/eq}} id="s1" value="1">HTML i /, bilder &amp; övrigt i /images/</option>
                <option {{#eq schedule.structure 2}} selected="selected" {{/eq}} id="s2" value="2">HTML i /HTML/, bilder &amp; övrigt i /images/</option>
                <option {{#eq schedule.structure 3}} selected="selected" {{/eq}} id="s3" value="3">HTML i /, bilder &amp; övrigt i /</option>
                <option {{#eq schedule.structure 4}} selected="selected" {{/eq}} id="s4" value="4">HTML i /, bilder &amp; övrigt i /xxx/ (där xxx är filändelse)</option>
                <option {{#eq schedule.structure 5}} selected="selected" {{/eq}} id="s5" value="5">HTML i /HTML/, bilder &amp; övrigt i /xxx/ (där xxx är filändelse)</option>
            </select>
            <div class="icon is-small is-left">
                <i class="fas fa-folder"></i>
            </div>
        </div>
    </div>
</div>