{{> confirmDeleteSchedule }}

<form action="/schedules/edit/{{schedule._id}}" method="post" id="updateAdvancedSettings">
    <div class="field">
        <label class="label">Kommando
            <i class="far fa-question-circle"></i>
        </label>
        <div class="control has-icons-left">
            <input class="input" id="advancedSetting" type="text" required name="advancedSetting" placeholder="Kommando" value={{ schedule.advancedSetting }}>
            <span class="icon is-small is-left">
                <i class="fas fa-code"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Schemaläggning
            <i class="far fa-question-circle"></i>
        </label>
            <div class="control has-icons-left">
                <div class="select">
                    <select name="typeOfSchedule" id="schedule" required>
                        <option {{#eq schedule.typeOfSchedule 0}}selected="selected"{{/eq}} name="schedule" id="schedule-option-none" value="0">Ingen schemaläggning</option>
                        <option {{#eq schedule.typeOfSchedule 1}}selected="selected"{{/eq}} name="schedule" id="schedule-option-day" value="1">Varje dag</option>
                        <option {{#eq schedule.typeOfSchedule 2}}selected="selected"{{/eq}} name="schedule" id="schedule-option-week" value="2">Varje vecka</option>
                        <option {{#eq schedule.typeOfSchedule 3}}selected="selected"{{/eq}} name="schedule" id="schedule-option-month" value="3">Varje månad</option>
                    </select>
                    <div class="icon is-small is-left">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
    </div>
    <div class="field">
        <label class="label">E-post</label>
        <div class="control has-icons-left">
            <input class="input" type="email" required name="email" placeholder="E-post" value="{{ schedule.email }}">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <p class="help">Du kommer notifieras när arkiveringen är klar.</p>
    </div>
    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" name="shouldNotify" {{#if schedule.shouldNotify }} checked {{/if}}> Skicka notifikationer
            </label>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <a name="action" value="0" class="button is-danger modal-button" data-target="confirmScheduleDel" title="Radera schemaläggning">
                <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
                <span>Radera</span>
            </a>
            <button type="submit" name="action" value="1" class="button is-success">
                <span class="icon is-small">
                    <i class="fas fa-save"></i>
                </span>
                <span>Spara</span>
            </button>
        </div>
    </div>
</form>