<form action="/archives/edit/{{schedule._id}}" method="post" id="updateAdvancedSettings">
    {{> settingsAdvanced }}
    <div class="field">
        <label class="label">E-post</label>
        <div class="control has-icons-left">
            <input class="input" type="email" required name="email" placeholder="E-post" value="{{ schedule.email }}">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <p class="help">Du kommer notifieras när arkiveringen är klar.</p>
    </div>
    <div class="field">
        <div class="control">
            <div class="b-checkbox">
                <input id="checkbox" class="styled" name="shouldNotify" {{#if schedule.shouldNotify }} checked {{/if}} type="checkbox">
                <label for="checkbox">
                    Skicka notifikationer
                </label>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" name="action" value="1" class="button is-success">
                <span class="icon is-small">
                    <i class="fas fa-save"></i>
                </span>
                <span>Spara</span>
            </button>
        </div>
    </div>
</form>