<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Arkivdium</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="columns">
        <div class="column"></div>
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <div class="container">
              <h1 class="title">
                Arkivdium
                <i class="far fa-file-archive"></i>
              </h1>
              <h2 class="subtitle">
                En arkiveringstjänst för webbplatser
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column">
          <form action="/url" method="post">
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="url" name="url" placeholder="Ange din webbadress">
                <span class="icon is-small is-left">
                  <i class="fas fa-link"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="email" name="email" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
              <p class="help">Du kommer notifieras när arkiveringen är klar.</p>
            </div>
            <br>
            <div class="field">
              <p class="control">
                <button type="submit" class="button is-success">
                  <span class="icon is-small">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>Arkivera</span>
                </button>
              </p>
            </div>
          </form>
        </div>
        <div class="column"></div>

      </div>
    </div>
  </section>
</body>

</html>