<section class="section">
    <div class="container">
        <div class="columns">
            {{#if user}}
            <div class="column is-one-third">
                {{#eq schedule.typeOfSetting 0}} {{> updateSettings }} {{/eq}}
                {{#eq schedule.typeOfSetting 1}} {{> advancedSettings }} {{/eq}}
            </div>
            <div class="column is-two-thirds">
                {{ schedule }}
                {{> listArchives }}
            </div>
            {{else}}
            <div class="column"></div>
            <div class="column">
                <h1 class="title">Hem</h1>
                <h2 class="subtitle">Ej inloggad</h2>
            </div>
            <div class="column"></div>
            {{/if}}
        </div>
    </div>
</section>