<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            {{#if user}}
            {{> loggedInUser}}
            {{else}}
            {{> notLoggedInUser}}
            {{/if}}
        </div>
    </div>
</section>