<section class="section">
    <div class="container">
        <div class="columns">

            {{#if user}}
            <div class="column">
                <form action="/archives" method="post">
                    <div class="field">
                        <label class="label">Huvuddomän att arkivera</label>
                        <p class="control has-icons-left">
                            <input class="input" type="url" required name="url" placeholder="Ange din webbadress" value="https://vecka.nu">
                            <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Subdomän att arkivera (ex. "https://sub.vecka.nu, https://sub2.vecka.nu")</label>
                        <p class="control has-icons-left">
                            <input class="input" type="url" name="includeDomains" placeholder="Ange din sub-webbadress" value="https://sub.vecka.nu">
                            <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Sidor att exkludera (ex. "/fredag, /torsdag, /onsdag")</label>
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="excludePaths" placeholder="Ange en sida" value="/fredag">
                            <span class="icon is-small is-left">
                                <i class="fas fa-unlink"></i>
                            </span>
                        </p>
                    </div>
                    <div class="control">
                        <label class="label">Följ robots.txt och meta-taggar</label>
                        <label class="radio">
                            <input type="radio" name="robots" value="0" checked> Ja
                        </label>
                        <label class="radio">
                            <input type="radio" name="robots" value="1"> Ja, men filter överskrider
                        </label>
                        <label class="radio">
                            <input type="radio" name="robots" value="2"> Nej
                        </label>
                    </div>
                    <div class="field">
                        <label class="label">Sidstruktur</label>
                        <div class="control has-icons-left">
                            <div class="select">
                                <select name="structure">
                                    <option name="structure" value="0">Site-structure (default)</option>
                                    <option name="structure" value="1">HTML in web/, images/other files in web/images/</option>
                                    <option name="structure" value="2">HTML in web/HTML, images/other in web/images</option>
                                    <option name="structure" value="3">HTML in web/, images/other in web/</option>
                                    <option name="structure" value="4">HTML in web/, images/other in web/xxx, where xxx is the file extension</option>
                                    <option name="structure" value="5">Images/other in web/xxx and HTML in web/HTML</option>
                                </select>
                                <div class="icon is-small is-left">
                                    <i class="fas fa-folder"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="email" required name="email" placeholder="E-post" value="{{ user.email }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                        <p class="help">Du kommer notifieras när arkiveringen är klar.</p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-info">
                                <span class="icon is-small">
                                    <i class="fas fa-cloud-download-alt"></i>
                                </span>
                                <span>Arkivera</span>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
            <div class="column">
                <div class="field">
                    <h3 class="subtitle is-3">Senaste 10 arkiveringar</h3>
                    <p id="recent-list" class="control">
                    </p>
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        <a id="list-previous" class="pagination-previous">Föregående</a>
                        <a id="list-next" class="pagination-next">Nästa</a>
                        <!-- <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link" aria-label="Goto page 1">1</a>
                                </li>
                                <li>
                                    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                                </li>
                            </ul> -->
                    </nav>
                </div>
            </div>

            {{else}}
            <div class="column"></div>
            <div class="column">
                <h1 class="title">Hem</h1>
                <h2 class="subtitle">Ej inloggad</h2>
            </div>
            <div class="column"></div>
            {{/if}}

        </div>
    </div>
</section>