<section class="section">
    <div class="container">
        <div class="columns">
            {{#if user}}
            <div class="column is-one-third">
                {{#if false}}
                <div class="tabs is-medium">
                    <ul>
                        <li class="is-active" id="settings-li" onClick="showSettings();">
                            <a>Inst채llningar</a>
                        </li>
                        <li id="advancedSettings-li" onClick="showAdvancedSettings();">
                            <a>Avancerade inst채llningar</a>
                        </li>
                    </ul>
                </div>
                {{/if}} {{> settings }} {{!-- Visa ifall anv채ndaren 채r admin --}} {{#if false}} {{> advancedSettings }} {{/if}}
            </div>
            <div class="column is-two-thirds">
                {{> pagination }}
            </div>
            {{else}}
            <div class="column"></div>
            <div class="column">
                <h1 class="title">Hem</h1>
                <h2 class="subtitle">Ej inloggad</h2>
            </div>
            <div class="column"></div>
            {{/if}}
        </div>
    </div>
</section>