<div class="columns is-mobile is-centered">
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column">
            <div>
                <span class="icon is-red homePageIcon">
                    <i class="fas fa-lock icon is-medium"></i>
                </span>
                <span class="title">Säkert</span>
                <br>
                <span>Säkra kopior av din webbplats.</span>
            </div>
            <br>
            <br>
            <div>
                <span class="icon is-red homePageIcon">
                    <i class="fas fa-download icon is-medium"></i>
                </span>
                <span class="title">Hållbart</span>
                <br>
                <span class="">Strävar efter att följa alla krav från Riksarkivet och ISO-standarder för arkivering.</span>
            </div>
            <br>
            <br>
            <div>
                <span class="icon is-red homePageIcon">
                    <i class="far fa-calendar-alt icon is-medium"> </i>
                </span>
                <span class="title">Automatiskt</span>
                <br>
                <span>Schemalägg dina arkiveringar</span>
            </div>
        </div>
        <div class="column is-1"></div>
        <div class="column">
            <h1 class="title">Arkivdium</h1>
            <h4>
                Arkivdium är en webbtjänst som enkelt arkiverar din webbsida. Schemalägger du din arkivering sköter Arkivdium allting åt
                dig, du kan givetvis välja att sköta det manuellt om du skulle vilja.
            </h4>
            <br>
                <a href="/about" class="button">
                    <span class="icon is-red" style="vertical-align:middle;">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <p>Läs mer</p>
                </a>
        </div>
        <div class="column is-1"></div>
    </div>
</div>