#recent-list ul li {
    margin-bottom: 10px;
}

.modal-card {
    width: 80%;
    height: 85%;
}

#navbar > .navbar {
    -webkit-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}
/* Scroll sticky header https://www.w3schools.com/howto/howto_js_sticky_header.asp */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.sticky + .section {
    padding-top: 6.25rem; /* navbar min-height + section padding-top*/
}

.table-row-hover > tr:hover {
    background-color: #e2e2e7 !important;
    cursor: pointer;
}

.activePage {
    background-color: hsl(0, 0%, 29%) !important;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #flash-notification {
    max-width: 768px; /* Bulma mobile */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    top: 180px; /* 30px from the top */
    left: 50%; /* Center */
    transform: translateX(-50%); /* Center */
}

.fade-in-out {
    -webkit-animation: fadein 1s, fadeout 1s 4s linear forwards;
    animation: fadein 1s, fadeout 1s 4s linear forwards;
}

/* Animations to fade the notification in and out */
@-webkit-keyframes fadein {
    from {top: 50px; opacity: 0;}
    to {top: 180px; opacity: 1;}
}

@keyframes fadein {
    from {top: 50px; opacity: 0;}
    to {top: 180px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 180px; opacity: 1;}
    to {top: 70px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 180px; opacity: 1;}
    to {top: 70px; opacity: 0;}
}