body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.invisbleButton {
    background: transparent;
    border: none !important;
    color: black;
}

.startPageIcon {
    color: #DC3E2A;
}

.section {
    margin-top: 2rem;
    flex:1;
}

#recent-list ul li {
    margin-bottom: 10px;
}

.modal-card {
    width: 80%;
    height: 85%;
}

#navbar > .navbar {
    -webkit-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

/* Scroll sticky header https://www.w3schools.com/howto/howto_js_sticky_header.asp */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.sticky + .section {
    padding-top: 6.25rem; /* navbar min-height + section padding-top*/
}

.table-row-hover > tr:hover {
    background-color: #e2e2e7 !important;
    cursor: pointer;
}

.active-page {
    background-color: #4A4A4A !important; /* fallback color */
    background-color: hsl(0, 0%, 29%) !important;
}

.hidden {
    display: none;
}

.notification-container {
    position: fixed;
    max-width: 768px; /* Bulma mobile */
    z-index: 6;
    bottom: 10px;
    left: 50%; /* Center */
    transform: translateX(-50%); /* Center */
    pointer-events: none; /* Click through div */
}

.fade-in-out {
    -webkit-animation: fadein 1s, fadeout 1s 4s linear forwards;
    animation: fadein 1s, fadeout 1s 4s linear forwards;
    pointer-events: auto;
}

/* Animations to fade the notification in and out */
@-webkit-keyframes fadein {
    from { bottom: -10px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}

@keyframes fadein {
    from { bottom: -10px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { bottom: 0; opacity: 1; }
    99% { bottom: -10px; opacity: 0; }
    100% { bottom: -200px; }
}

@keyframes fadeout {
    from { bottom: 0; opacity: 1; }
    99% { bottom: -10px; opacity: 0; }
    100% { bottom: -200px; }
}