#recent-list ul li {
    margin-bottom: 10px;
}

.modal-card {
    width: 80%;
    height: 85%;
}

.fade-out {
    -webkit-animation: fadeout 0.5s linear forwards;
    -webkit-animation-delay: 5s;
    animation: fadeout 0.5s linear forwards;
    animation-delay: 5s;
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Scroll sticky header https://www.w3schools.com/howto/howto_js_sticky_header.asp */
#navbar > .navbar {
    -webkit-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

}
.sticky + .section {
    padding-top: 6.25rem; /* navbar min-height + section padding-top*/
}

.table-row-hover > tr:hover {
    background-color: #e2e2e7 !important;
    cursor: pointer;
}

.activePage {
    background-color: hsl(0, 0%, 29%) !important;
}