<div class="columns">
    <div class="column">
        <h1 class="title">Arkivdium</h1>
        <h4>Arkivdium är ett samarbete mellan Linnéuniversitetet och Meridium. Webbplatsen erbjuder Meridiums kunder en arkiveringstjänst.
            Genom att skaffa ett inlogg kommer användaren kunna arkivera sin webbplats själv genom några enkla knapptryck.
            Användaren kan även schemalägga sina arkiveringar, t.ex. varje dag, månad eller år.
        </h4>
        <br>
        <h4>
            Projektet är skapat för att underlätta processen för Meridiums kunder men även för Meridium själva.
        </h4>
        <br>
        <a href="https://github.com/1dv611-meridium">Projektets Github</a>
    </div>
    <div class="column is-1"></div>
    <div class="column">
        <h1 class="title">Linnéuniversitetet</h1>
        <p>
            <b>Tjänsten är skapad av:</b>
        </p>
        <ul>
            <li>
                <i class="far fa-user"></i> Alex Naga
                <a href="https://github.com/alexnaga"> Github</a>
            </li>
            <li>
                <i class="far fa-user"></i> Frida Melin
                <a href="https://github.com/fridamelin"> Github</a>
            </li>
            <li>
                <i class="far fa-user"></i> Rosa Ekström
                <a href="https://github.com/rjosih"> Github</a>
            </li>
            <li>
                <i class="far fa-user"></i> Simon Österdahl
                <a href="https://github.com/sios13"> Github</a>
            </li>
            <li>
                <i class="far fa-user"></i> Robin Nowakowski
                <a href="https://github.com/bobinush"> Github</a>
            </li>
        </ul>
        <br>
        <p>Projektet skapades i samband med kursen
            <i>"Mjukvaruutvecklingsprojekt i grupp"</i> på Linnéuniversitetet under vårterminen 2018.
        </p>
        <br>

        <h1 class="title">Meridium</h1>
        <p>
            <i>"Alla företag och organisationer måste förhålla sig till digitaliseringen, dess möjligheter och utmaningar. Därför
                skapar vi förutsättningar för medvetna val som gör att ni kommer närmare era användare och kan skapa tjänster
                med fokus på nytta där effekten uppstår i mötet mellan användaren och den digitala tjänsten."
            </i>
        </p>
        <p>- Meridium</p>
    </div>
</div>