<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arkivdium</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@0.1.1/bulma-tooltip.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script defer src="/js/scripts.js"></script>
    <script defer src="/js/modal-scripts.js"></script>
    {{#if user }}
        {{#if loadIndexScripts }}
            <script defer src="/js/frontend-settings.js"></script> {{/if}}
        {{#if loadArchiveScripts }}
            <script defer src="/js/archive-scripts.js"></script> {{/if}}
        {{#if loadScheduleScripts }}
            <script defer src="/js/schedule-scripts.js"></script> {{/if}}
    {{/if}}
    {{#if loadValidation }}
        <script defer src="/js/validate.js"></script> {{/if}}
</head>

<body>
    {{> hero }}
    {{> navbar }}
    <section class="section wrapper">
        <div class="container">
            {{{ body }}}
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-left">
                <p>
                    <strong>Arkivdium</strong>
                </p>
            </div>
        </div>
    </footer>
    {{> flash }}
</body>

</html>