<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arkivdium</title>
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <script defer src="/js/scripts.js"></script>
    <script defer src="/js/modal-scripts.js"></script> {{#if user }} {{#if loadIndexScripts }}
    <script defer src="/js/frontend-settings.js"></script> {{/if}} {{#if loadArchiveScripts }}
    <script defer src="/js/archive-scripts.js"></script> {{/if}} {{#if loadScheduleScripts }}
    <script defer src="/js/schedule-scripts.js"></script> {{/if}} {{/if}} {{#if loadValidation }}
    <script defer src="/js/validate.js"></script> {{/if}} {{> hero }} {{> navbar }}
    <div class="section wrapper">
        <div class="container">
            {{{ body }}}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="block">
                        <img src="/images/meridium.jpg" alt="Meridium" height="80" width="150">
                    </div>
                    <div class="block">
                        <ul>
                            <li>
                                Svensknabbevägen 17, 393 51 Kalmar
                            </li>
                            <li>
                                Tel. 0480-42 60 60
                            </li>
                        </ul>
                    </div>
                    <div class="block">
                        <ul>
                            <li>
                                Humlegårdsgatan 20, 114 46 Stockholm
                            </li>
                            <li>
                                Tel. 08-557 797 00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="block">
                        <img src="/images/linneuniversitetet.png" alt="Linnéuniversitetet" height="80" width="180">
                    </div>
                    <div class="block">
                        <ul>
                            <li><i>Alex Naga, Frida Melin, Rosa Ekström, Simon Österdahl och Robin Nowakowski</i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {{> flash }}

</html>
