<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arkivdium</title>
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/stylesheets/bulma-radio-checkbox.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <script defer src="/js/modal-scripts.js"></script>
    <script defer src="/js/scripts.js"></script>
    {{#if user }}
        {{#if loadIndexScripts }}
            <script defer src="/js/frontend-settings.js"></script> {{/if}}
        {{#if loadScheduleScripts }}
            <script defer src="/js/schedule-scripts.js"></script> {{/if}}
    {{/if}}
    {{> hero }} {{> navbar }}
    <div class="section wrapper">
        <div class="container">
            {{{ body }}}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-1">
                    <div class="block">
                        <img src="/images/meridium.png" alt="Meridium" height="80" width="150">
                    </div>
                    <div class="block">
                        Svensknabbevägen 17, 393 51 Kalmar
                        <br> Tel. 0480-42 60 60
                    </div>
                    <div class="block">
                        Humlegårdsgatan 20, 114 46 Stockholm
                        <br> Tel. 08-557 797 00
                    </div>
                </div>
                <div class="column is-offset-1">
                    <div class="block">
                        <img src="/images/linneuniversitetet.png" alt="Linnéuniversitetet" height="80" width="180">
                    </div>
                    <div class="block">
                        <i>Alex Naga, Frida Melin, Rosa Ekström, Simon Österdahl och Robin Nowakowski</i>
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
        </div>
    </footer>
    {{> flash }}

</html>